<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_reminder_app">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <application
        android:name=".MainApplication"
        android:label="flutter_reminder_app"
        android:icon="@mipmap/ic_launcher">
        
        <receiver android:enabled="true" android:exported="false" android:name="com.dexterous.flutterlocalnotifications.FlutterLocalNotificationsPlugin" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        
    </application>
</manifest>
